# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
.env
*.log*
mocks.json
node_modules/
src/service/logs/

# Папка с собранными файлами проекта
build/
/src/express/public/img/*
